<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376797794992-5cvgge6qmfms06rr1bkj22ibn06tstns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376797794992-5cvgge6qmfms06rr1bkj22ibn06tstns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>376797794992-6n1pa1g8kmo87g98mknh7nlbj6br177f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXO-uoxj4l3avsid_N5rxUDRbSPK0z2B0</string>
	<key>GCM_SENDER_ID</key>
	<string>376797794992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hashforgamers.app</string>
	<key>PROJECT_ID</key>
	<string>hash-ee6fc</string>
	<key>STORAGE_BUCKET</key>
	<string>hash-ee6fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376797794992:ios:a86e2e341999671fd82175</string>
</dict>
</plist>